/* Sction 2 */

.loggedoutsec2 {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
}

.imgscroll {
    display: flex;
    overflow: hidden;
    width: 90%;
    height: auto;
    border-radius: 20px;
    border: 1px solid rgb(121, 121, 121);
}

.imgscroll img {
    width: 100%;
    height: auto;
}

/* Section 3 & SEction 4*/

.loggedoutsec3 {
    background-color: rgb(223, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 5%;
    padding: 3%;
    flex-wrap: wrap;
}


.smartbasket {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}



.smartbasketcard {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-wrap: wrap;
    border-radius: 10px;
    flex-shrink: 1;
}

.smartbasketcard img {
    border: rgb(216, 216, 216) solid 1px;
    padding: 20px;
    border-radius: 9px;
    margin: 0 0 20px 0;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

.smartcardprice {
    font-weight: bold;
}

.smartcardprice span {
    color: gray;
    font-weight: lighter;
    text-decoration: line-through;
}

.smartcardbtn {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0 0 0;
}

.smartcardbtn button {
    border: #CC0000 solid 1px;
    width: 95%;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #CC0000;
    cursor: pointer;
    transition: 300ms;

}

.smartcardbtn button:hover {
    background-color: #CC0000;
    color: white;
    transition: 300ms;

}

.smartbasketcards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0 0 0;
    flex-wrap: wrap;

}

/* Section 5 */

.loggedoutsec5 {
    margin: 30px 60px
}

.fruitsandveg {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 0 0 10px 0;
    transition: box-shadow 0.3s ease;
    flex-wrap: wrap;
    gap: 20px;
}

.fruitsandveg img {
    width: 18.182vw;
}

.fruitsandveg img:hover {

    box-shadow:
        10px 10px 20px rgba(65, 65, 65, 0.3)
}

/* Section 8 */

.loggedoutsec8 {
    padding: 50px 0;
    background-color: #101010;
    color: white;
    display: flex;
    justify-content: center;
    gap: 300px;
    margin: 30px 0 0 0;
    flex-wrap: wrap;

}

.footer1,
.footer2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(204, 202, 202);
}

.footer1 p,
.footer2 p {
    cursor: pointer;
}

.footer1 p:hover,
.footer2 p:hover {
    text-decoration: underline;
}

/* section 9 */

.loggedoutsec9 {
    padding: 20px 30px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 300px; */
    flex-wrap: wrap;

}

.footer2 img {

    height: 60px;
}

.p1 {
    font-weight: bold;
    font-size: 25px;
}

.p2 {
    text-decoration: underline;
}




@media (max-width: 900px) {
    .fruitsandveg img {
        width: 25vw;
    }

    .fruitsandveg {
        margin-top: 25px;
    }
}

@media (max-width: 650px) {
    .fruitsandveg img {
        width: 35vw;
    }



    .imgscroll {
        display: flex;
        overflow: hidden;
        width: 98%;
        height: auto;
        border-radius: 0px;
        border: 1px solid rgb(189, 189, 189);
    }

    .imgscroll img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 750px) {
    .footer2 img {

        height: 40px;
    }

    .loggedoutsec9 {
        padding: 10px 15px 20px 15px;
        gap: 10px;
    }

}

@media(max-width: 700px) {
    .loggedoutsec8 {
        gap: 25vw;
    }
}

@media (max-width: 550px) {
    .loggedoutsec8 {
        gap: 10vw;
        padding: 10px;
    }

    .footer1,
    .footer2 {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: rgb(204, 202, 202);
    }

    .footer1 p,
    .footer2 p {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .fruitsandveg img {
        width: 50vw;
    }
}

@media (max-width: 400px) {
    .fruitsandveg img {
        width: 60vw;
        border: rgb(155, 155, 155) solid 1px;
        padding: 5px;
    }

    .p1 {
        font-size: 20px;
    }

    .p2 {
        font-size: 12px;
    }

}